---js
const numberOfLatestPostsToShow = 12;
---
<section id="about">
  <p>
    <strong>Supramundane Agency</strong> is a consultancy specialised in the governance of
    technology, operated principally by <a href="https://berjon.com/">Robin Berjon</a>.
  </p>
  <p>
    Our methods include specifying protocols, developing libraries, prototypes, and products,
    creating strategies to ensure that a specific technology has governance affordances,
    designing institutions and governance mechanisms, participating in standards setting,
    developing policymaker positions and white papers, and writing about technology for both
    lay and specialised audiences.
  </p>
  <p>
    If you're trying to define or deploy technology that isn't dystopian, that promotes
    democracy and human agency, then you've come to the right place.
    <a href="mailto:robin@berjon.com?subject=Supramundane%20Contact">Reach out!</a>
  </p>
</section>
<hr>

{% set upcomingPosts = collections.news | upcoming  %}
{% set upcomingCount = upcomingPosts | length %}
{% if upcomingCount > 0 %}
<section>
  <h2>Upcoming</h2>
  {% set postslist = upcomingPosts %}
  {% include "postslist.njk" %}
</section>
<hr>
{% endif %}

{% set precedingPosts = collections.news | preceding | head(-1 * numberOfLatestPostsToShow)  %}
{% set precedingCount = precedingPosts | length %}
{% if precedingCount > 0 %}
<section>
  <h2>Previously</h2>
  {% set postslist = precedingPosts %}
  {% include "postslist.njk" %}
  {% set morePosts = precedingCount - numberOfLatestPostsToShow %}
  {% if morePosts > 0 %}
  <p><a href="blog.njk">more…</a></p>
  {% endif %}
</section>
{% endif %}
