---js
const numberOfLatestPostsToShow = 3;
---
<section id="about">
  <p>
    <strong>Supramundane Agency</strong> is a consultancy specialised in the governance of
    technology, operated principally by <a href="https://berjon.com/">Robin Berjon</a>.
  </p>
  <p>
    Our methods include specifying protocols, developing libraries, prototypes, and products,
    creating strategies to ensure that a specific technology has governance affordances,
    designing institutions and governance mechanisms, participating in standards setting,
    developing policymaker positions and white papers, and writing about technology for both
    lay and specialised audiences.
  </p>
</section>
<hr>

{% set postsCount = collections.news | length %}

{% set postslist = collections.news | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}
