
@font-face {
  font-family: "Cormorant";
  src: url("../public/css/Cormorant-VariableFont_wght.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Cormorant";
  src: url("../public/css/Cormorant-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.logo {
  text-align: center;
  display: inline-block;
}
.logo svg {
  width: calc(5rem * var(--zoom, 1));
  stroke: var(--color, #000);
}
.logo div {
  white-space: pre;
  font-family: Cormorant;
  font-weight: 100;
  font-size: calc(2rem * var(--zoom, 1));
  letter-spacing: calc(0.3rem * var(--zoom, 1));
  color: var(--color, #000);
  line-height: 1;
}
