---
layout: layouts/base.njk
---
<section class="page">
  <ul class="tags">
   	{%- for tag in tags | filterTagList %}
     	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
     	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
   	{%- endfor %}
  </ul>
  <h1>{{ title }}</h1>
  <div class="meta">
    {% if location %}<a href="https://www.openstreetmap.org/search?query={{ location | encodeURIComponent }}" class="location" target="_blank">{{ location }}</a> <span class="sep">⬩</span>{% endif %}
    <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
  </div>

  {% if image %}<img src="{{ page | imagePath }}" alt="{{ imageAlt }}" width="300" height="185" class="illustration">{% endif %}
  {{ content | safe }}

  {%- if collections.news %}
  {%- set previousPost = collections.news | getPreviousCollectionItem %}
  {%- set nextPost = collections.news | getNextCollectionItem %}
  {%- if nextPost or previousPost %}
  <hr>
  <div class="links-nextprev">
  	{%- if previousPost %}<a href="{{ previousPost.url }}" class="prev">← {{ previousPost.data.title }}</a>{% endif %}
  	{%- if previousPost and nextPost %}<span class="sep">⬩</span>{% endif %}
  	{%- if nextPost %}<a href="{{ nextPost.url }}" class="next">{{ nextPost.data.title }} →</a>{% endif %}
  </div>
  {%- endif %}
  {%- endif %}
</section>
